/*
=============================
Header Styling
=============================
*/

#header {
  color: black;
  border-bottom: solid black;
}

/*
=============================
Text Styling
=============================
*/

body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #0D7EFF;
}

/*
=============================
Positioning
=============================
*/

#jon {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 40%;
}

div {
  float: left;
  margin: 0 1.5%;
  width: 30%;
  padding-top: 30px;
}

footer {
  clear: both;
}
